<header class="px-[5%] py-16 md:py-24 lg:py-28 ">
    <div class="container max-w-lg text-center mx-auto">
      <h1 class="mb-5 text-6xl font-bold md:mb-6 md:text-9xl lg:text-10xl">
        Soluciones a Medida       
      </h1>
      <p class="md:text-md">
        Estamos aquí para ayudarte.
        Ofrecemos una amplia gama de servicios legales. 
        Explora nuestros servicios y reserva tu cita hoy mismo.
      </p>
    </div>
  </header>
  

<section class="px-[5%] py-16 md:py-24 lg:py-28">
  <div class="container">
    <div
      class="mb-10 grid grid-cols-1 gap-x-8 gap-y-16 md:grid-cols-2 md:gap-y-12 lg:grid-cols-3  mb:mt-14 lg:mb-16 "
    >
      <div>
        <a
          href="/contacto"
          class="mb-6 inline-block w-full max-w-full focus-visible:outline-none"
          ><div class="w-full overflow-hidden">
            <img
              src="/assets/serv/div-1.png"
              alt="Placeholder image 1"
              class="aspect-[3/2] size-full object-cover"
            /></div></a
        ><a
          href="/contacto"
          class="mb-2 mr-4 inline-block max-w-full text-sm font-semibold focus-visible:outline-none"
          >Facilitando el Legado Familiar</a
        ><a href="#" class="mb-2 block max-w-full focus-visible:outline-none"
          ><h5 class="text-xl font-bold md:text-2xl">
            Juicios sucesorios testamentarios          </h5></a
        >
        <p>
          Proceso legal para distribuir los bienes de un fallecido de acuerdo con su testamento.
        </p>
        <div class="mt-6 flex items-center">
          <div class="mr-4 shrink-0">
            <img
              src="/assets/icons/noun-testament-5713877.png
"
              alt="Placeholder avatar 3"
              class="size-12 min-h-12 min-w-12  object-scale-down"
            />
          </div>
          <div>
            <h6 class="text-sm font-semibold">Agendar cita</h6>
            <div class="flex items-center">
              <p class="text-sm">1 hora</p>
              <span class="mx-2">•</span>
              <p class="text-sm">$250 MXN</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <a
          href="/contacto"
          class="mb-6 inline-block w-full max-w-full focus-visible:outline-none"
          ><div class="w-full overflow-hidden">
            <img
            src="/assets/serv/div-6.png"
            alt="Placeholder image 2"
              class="aspect-[3/2] size-full object-cover"
            /></div></a
        ><a
          href="/contacto"
          class="mb-2 mr-4 inline-block max-w-full text-sm font-semibold focus-visible:outline-none"
          >Despeja tus Dudas</a
        ><a href="#" class="mb-2 block max-w-full focus-visible:outline-none"
          ><h5 class="text-xl font-bold md:text-2xl">
            Consulta legal          </h5></a
        >
        <p>
          Orientación jurídica individualizada y análisis de situaciones jurídicas específicas.
        </p>
        <div class="mt-6 flex items-center">
          <div class="mr-4 shrink-0">
            <img
              src="/assets/icons/mercantil.png
"
              alt="Placeholder avatar 3"
              class="size-12 min-h-12 min-w-12  object-cover"
            />
          </div>
          <div>
            <h6 class="text-sm font-semibold">Agendar cita</h6>
            <div class="flex items-center">
              <p class="text-sm">1 hora</p>
              <span class="mx-2">•</span>
              <p class="text-sm">$250 MXN</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <a
          href="/contacto"
          class="mb-6 inline-block w-full max-w-full focus-visible:outline-none"
          ><div class="w-full overflow-hidden">
            <img
            src="/assets/serv/div-2.png"
            alt="Placeholder image 3"
              class="aspect-[3/2] size-full object-cover"
            /></div></a
        ><a
          href="/contacto"
          class="mb-2 mr-4 inline-block max-w-full text-sm font-semibold focus-visible:outline-none"
          >Protege tus Activos Empresariales</a
        ><a href="#" class="mb-2 block max-w-full focus-visible:outline-none"
          ><h5 class="text-xl font-bold md:text-2xl">
            Juicio Ejecutivo mercantil          </h5></a
        >
        <p>
          Representación legal en litigios relacionados con transacciones comerciales y deudas.
        </p>
        <div class="mt-6 flex items-center">
          <div class="mr-4 shrink-0">
            <img
              src="/assets/icons/document.png
"
              alt="Placeholder avatar 3"
              class="size-12 min-h-12 min-w-12  object-cover"
            />
          </div>
          <div>
            <h6 class="text-sm font-semibold">Agendar cita</h6>
            <div class="flex items-center">
              <p class="text-sm">1 hora</p>
              <span class="mx-2">•</span>
              <p class="text-sm">$250 MXN</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="mb-10 grid grid-cols-1 gap-x-8 gap-y-16 md:grid-cols-2 md:gap-y-12 lg:grid-cols-3  mb:mt-14 lg:mb-16 "
    >
      <div>
        <a
          href="/contacto"
          class="mb-6 inline-block w-full max-w-full focus-visible:outline-none"
          ><div class="w-full overflow-hidden">
            <img
            src="/assets/serv/div-4.png"
              alt="Placeholder image 1"
              class="aspect-[3/2] size-full object-cover"
            /></div></a
        ><a
          href="/contacto"
          class="mb-2 mr-4 inline-block max-w-full text-sm font-semibold focus-visible:outline-none"
          >Documentación Legal</a
        ><a href="#" class="mb-2 block max-w-full focus-visible:outline-none"
          ><h5 class="text-xl font-bold md:text-2xl">
            Trámites
          </h5></a
        >
        <p>
          Ayuda en la preparación y gestión de documentos legales y administrativos.
        </p>
        <div class="mt-6 flex items-center">
          <div class="mr-4 shrink-0">
            <img
              src="/assets/icons/contratos.png
"
              alt="Placeholder avatar 3"
              class="size-12 min-h-12 min-w-12  object-cover"
            />
          </div>
          <div>
            <h6 class="text-sm font-semibold">Agendar cita</h6>
            <div class="flex items-center">
              <p class="text-sm">1 hora</p>
              <span class="mx-2">•</span>
              <p class="text-sm">$250 MXN</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <a
          href="/contacto"
          class="mb-6 inline-block w-full max-w-full focus-visible:outline-none"
          ><div class="w-full overflow-hidden">
            <img
            src="/assets/serv/div.png"
              alt="Placeholder image 2"
              class="aspect-[3/2] size-full object-cover"
            /></div></a
        ><a
          href="/contacto"
          class="mb-2 mr-4 inline-block max-w-full text-sm font-semibold focus-visible:outline-none"
          >Representación Eficaz en Casos contra Autoridades</a
        ><a href="#" class="mb-2 block max-w-full focus-visible:outline-none"
          ><h5 class="text-xl font-bold md:text-2xl">
            Juicios Administrativos          </h5></a
        >
        <p>
          Defensa legal en disputas contra decisiones o actos de autoridades gubernamentales.
        </p>
        <div class="mt-6 flex items-center">
          <div class="mr-4 shrink-0">
            <img
              src="/assets/icons/administrativo.png
"
              alt="Placeholder avatar 3"
              class="size-12 min-h-12 min-w-12  object-cover"
            />
          </div>
          <div>
            <h6 class="text-sm font-semibold">Agendar cita</h6>
            <div class="flex items-center">
              <p class="text-sm">1 hora</p>
              <span class="mx-2">•</span>
              <p class="text-sm">$250 MXN</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <a
          href="/contacto"
          class="mb-6 inline-block w-full max-w-full focus-visible:outline-none"
          ><div class="w-full overflow-hidden">
            <img
                          src="/assets/serv/testamento.jpg"

              alt="Placeholder image 3"
              class="aspect-[3/2] size-full object-cover"
            /></div></a
        ><a
          href="/contacto"
          class="mb-2 mr-4 inline-block max-w-full text-sm font-semibold focus-visible:outline-none"
          >Seguridad y Claridad en tu Testamento</a
        ><a href="#" class="mb-2 block max-w-full focus-visible:outline-none"
          ><h5 class="text-xl font-bold md:text-2xl">
            Redacción de testamentos          </h5></a
        >
        <p>
          Creación de documentos legales que especifique cómo se distribuyen los bienes después de la muerte.
        </p>
        <div class="mt-6 flex items-center">
          <div class="mr-4 shrink-0">
            <img
              src="/assets/icons/morido.png
"
              alt="Placeholder avatar 3"
              class="size-12 min-h-12 min-w-12  object-cover"
            />
          </div>
          <div>
            <h6 class="text-sm font-semibold">Agendar cita</h6>
            <div class="flex items-center">
              <p class="text-sm">1 hora</p>
              <span class="mx-2">•</span>
              <p class="text-sm">$250 MXN</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="mb-10 grid grid-cols-1 gap-x-8 gap-y-16 md:grid-cols-2 md:gap-y-12 lg:grid-cols-3  mb:mt-14 lg:mb-16 "
    >
      <div>
        <a
          href="/contacto"
          class="mb-6 inline-block w-full max-w-full focus-visible:outline-none"
          ><div class="w-full overflow-hidden">
            <img
                          src="/assets/serv/contrato.jpg"

              alt="Placeholder image 1"
              class="aspect-[3/2] size-full object-cover"
            /></div></a
        ><a
          href="/contacto"
          class="mb-2 mr-4 inline-block max-w-full text-sm font-semibold focus-visible:outline-none"
          >Acuerdos Legales a Medida</a
        ><a href="#" class="mb-2 block max-w-full focus-visible:outline-none"
          ><h5 class="text-xl font-bold md:text-2xl">
            Contratos                    </h5></a
        >
        <p>
          Creación, revisión y negociación de acuerdos legales para garantizar derechos y obligaciones claros entre las partes involucradas.
        </p>
        <div class="mt-6 flex items-center">
          <div class="mr-4 shrink-0">
            <img
              src="/assets/icons/testamentod.png
"
              alt="Placeholder avatar 3"
              class="size-12 min-h-12 min-w-12  object-cover"
            />
          </div>
          <div>
            <h6 class="text-sm font-semibold">Agendar cita</h6>
            <div class="flex items-center">
              <p class="text-sm">1 hora</p>
              <span class="mx-2">•</span>
              <p class="text-sm">$250 MXN</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <a
          href="/contacto"
          class="mb-6 inline-block w-full max-w-full focus-visible:outline-none"
          ><div class="w-full overflow-hidden">
            <img
                          src="/assets/serv/notaria.jpg"

              alt="Placeholder image 2"
              class="aspect-[3/2] size-full object-cover"
            /></div></a
        ><a
          href="/contacto"
          class="mb-2 mr-4 inline-block max-w-full text-sm font-semibold focus-visible:outline-none"
          >Garantizando la Validez de tus Documentos</a
        ><a href="#" class="mb-2 block max-w-full focus-visible:outline-none"
          ><h5 class="text-xl font-bold md:text-2xl">
            Servicios notariales          </h5></a
        >
        <p>
          Atención por una notaría certificada,
          asistencia en la redacción y autenticación de documentos legales como escrituras, poderes y contratos.

        </p>
        <div class="mt-6 flex items-center">
          <div class="mr-4 shrink-0">
            <img
              src="/assets/icons/contract (1).png
"
              alt="Placeholder avatar 3"
              class="size-12 min-h-12 min-w-12  object-cover"
            />
          </div>
          <div>
            <h6 class="text-sm font-semibold">Agendar cita</h6>
            <div class="flex items-center">
              <p class="text-sm">1 hora</p>
              <span class="mx-2">•</span>
              <p class="text-sm">$250 MXN</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <a
          href="/contacto"
          class="mb-6 inline-block w-full max-w-full focus-visible:outline-none"
          ><div class="w-full overflow-hidden">
            <img
                          src="/assets/serv/div-8.png"

              alt="Placeholder image 3"
              class="aspect-[3/2] size-full object-cover"
            /></div></a
        ><a
          href="/contacto"
          class="mb-2 mr-4 inline-block max-w-full text-sm font-semibold focus-visible:outline-none"
          >División Equitativa de Bienes y Custodia</a
        ><a href="#" class="mb-2 block max-w-full focus-visible:outline-none"
          ><h5 class="text-xl font-bold md:text-2xl">
            Divorcio          </h5></a
        >
        <p> 
          Asesoría legal en casos de disolución matrimonial, incluyendo divisiones de bienes, custodia,
          cálculo y negociación de la manutención.
        </p>
        <div class="mt-6 flex items-center">
          <div class="mr-4 shrink-0">
            <img
              src="/assets/icons/divorce.png
"
              alt="Placeholder avatar 3"
              class="size-12 min-h-12 min-w-12  object-cover"
            />
          </div>
          <div>
            <h6 class="text-sm font-semibold">Agendar cita</h6>
            <div class="flex items-center">
              <p class="text-sm">1 hora</p>
              <span class="mx-2">•</span>
              <p class="text-sm">$250 MXN</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <button
        onclick="window.location.href = '/contacto';"
        class="btnh mt-10 inline-flex items-center justify-center gap-3 whitespace-nowrap border border-border-primary px-6 py-3 text-text-primary ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-border-primary focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 md:mt-14 lg:mt-16"
      >
        Agendar cita
      </button>
    </div>
  </div>
</section>



<section class="px-[5%] py-16 md:py-24 lg:py-28" id="testimonios">
    <div class="container">
      <div class="mx-auto mb-12 w-full max-w-lg text-center md:mb-18 lg:mb-20">
        <h1 class="mb-5 text-5xl font-bold md:mb-6 md:text-7xl lg:text-8xl">
          Testimonios de Éxito Legal
                </h1>
        <p class="md:text-md">
          Clientes Comparten Cómo Nuestra Asesoría Legal Cambió el Rumbo de Sus Casos
                </p>
      </div>
      <div
        class="grid grid-cols-1 gap-y-12 md:grid-cols-3 md:gap-x-8 lg:gap-x-12 lg:gap-y-16"
      >
        <div class="flex flex-col items-center text-center">
          <img
            src="/assets/icons/noun-five-stars-327146.png"
            alt="Webflow logo 1"
            class="max-h-14"
          />
          <blockquote
            class="before:content-[&#x27;&quot;&#x27;] after:content-[&#x27;&quot;&#x27;] my-6 text-md font-bold leading-[1.4] md:my-8 md:text-xl"
          >
          Me ayudaron a ganar la custodia de mi hijo en un proceso legal muy difícil. Son unos abogados excepcionales y siempre estuvieron a mi lado.
          </blockquote>
          <img
            src="/assets/serv/p3.jpg
"
            alt="Testimonial avatar 1"
            class="mb-4 size-14 min-h-14 min-w-14 rounded-full object-cover"
          />
          <p class="font-semibold">Jorge Hernández</p>
          <p><span>Juicios</span>, <span>2023</span></p>
        </div>
        <div class="flex flex-col items-center text-center">
          <img
            src="/assets/icons/noun-five-stars-327146.png"
            alt="Webflow logo 2"
            class="max-h-14"
          />
          <blockquote
            class="before:content-[&#x27;&quot;&#x27;] after:content-[&#x27;&quot;&#x27;] my-6 text-md font-bold leading-[1.4] md:my-8 md:text-xl"
          >
           Me ayudaron con mi divorcio, lograron llegar a un acuerdo justo y amigable con mi ex cónyuge. Estoy muy agradecido por su apoyo.
          </blockquote>
          <img
            src="/assets/serv/p2.jpg
"
            alt="Testimonial avatar 2"
            class="mb-4 size-14 min-h-14 min-w-14 rounded-full object-cover"
          />
          <p class="font-semibold">Ana Martínez</p>
          <p><span>Divorcio</span>, <span>2024</span></p>
        </div>
        <div class="flex flex-col items-center text-center">
          <img
            src="/assets/icons/noun-five-stars-327146.png"
            alt="Webflow logo 3"
            class="max-h-14"
          />
          <blockquote
            class="before:content-[&#x27;&quot;&#x27;] after:content-[&#x27;&quot;&#x27;] my-6 text-md font-bold leading-[1.4] md:my-8 md:text-xl"
          >
          Me ayudaron a cerrar un contrato mercantil crucial para mi negocio. Su asesoría fue clara y precisa.  <br/> ¡Altamente recomendados!
          </blockquote>
          <img
            src="/assets/serv/p1.jpg
"
            alt="Testimonial avatar 3"
            class="mb-4 size-14 min-h-14 min-w-14 rounded-full object-cover"
          />
          <p class="font-semibold">Carlos Ramírez</p>
          <p><span>Juicio Ejecutivo mercantil</span>, <span>2024</span></p>
        </div>
      </div>
    </div>
  </section>

  

  <section class="px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      <div
        class="grid grid-cols-1 items-start gap-y-12 md:grid-cols-2 md:gap-x-12 lg:gap-x-20"
      >
        <div>
          <h2 class="mb-5 text-5xl font-bold md:mb-6 md:text-7xl lg:text-8xl">
            ¿Necesitas algo más específico?          </h2>
          <div class="prose">
            <p>
              Estamos aquí para ayudarte. Nuestro equipo experto abarca una amplia variedad de áreas legales, desde contratos hasta casos de propiedad intelectual. Si tienes alguna consulta o necesitas asistencia legal, contáctanos hoy mismo y estaremos encantados de ayudarte.
            </p>
            <div class="mt-6 flex gap-x-4 md:mt-8">
              <button
                onclick="window.location.href = '/contacto';"
                class="btnh text-black inline-flex items-center justify-center gap-3 whitespace-nowrap border border-border-primary bg-background-alternative px-6 py-3 text-text-alternative ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-border-primary focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
              >
                Contáctenos</button
              >
            </div>
          </div>
        </div>
        <div>
          <img
            src="/assets/serv/law.jpg
"
            class="w-full h-full object-cover"
            alt="Placeholder image"
          />
        </div>
      </div>
    </div>
  </section>
  