<header
  class="grid grid-cols-1 items-center gap-y-16 pt-16 md:pt-24 lg:grid-cols-2 lg:pt-0"
>
  <div class="order-2 lg:order-1">
    <img
      src="/assets/serv/pro.jpg"
      alt="Placeholder image"
      class="w-full object-cover lg:h-screen lg:max-h-[60rem]"
    />
  </div>
  <div
    class="order-1 mx-[5%] sm:max-w-md md:justify-self-start lg:order-2 lg:ml-20 lg:mr-[5vw]"
  >
    <h1 class="mb-5 text-4xl font-bold md:mb-6 md:text-7xl lg:text-8xl">
      Asesoría Rápida y Eficaz
            </h1>
    <p class="md:text-md text-pretty   ">
      Orgullosamente fundados hace 17 años, nuestro despacho de abogados se ha convertido en sinónimo de excelencia y compromiso legal. Especializados en civil, mercantil, familiar y más, estamos aquí para proteger tus derechos.
    </p>
    <div class="mt-6 flex gap-x-4 md:mt-8">
      <button onclick="window.location.href = '/contacto';"
        class="btnh inline-flex items-center justify-center gap-3 whitespace-nowrap border border-border-primary bg-background-alternative px-6 py-3 text-text-alternative ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-border-primary focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
      >
        Agendar cita</button
      ><button onclick="window.open('https://api.whatsapp.com/send?phone=5215555650927&text=Agendar%20una%20cita', '_blank');"
        class="btnh inline-flex items-center justify-center gap-3 whitespace-nowrap border border-border-primary px-6 py-3 text-text-primary ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-border-primary focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
      >
        Iniciar Chat
      </button>
    </div>
  </div>
</header>



<section class="px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      <div class="mx-auto w-full max-w-lg">
        <h2 class="mb-5 text-5xl font-bold md:mb-6 md:text-7xl lg:text-8xl">
          Compromiso con la Excelencia        </h2>
        <div class="prose">
          <p>
            Nos enorgullece ofrecer servicios legales excepcionales en estas áreas fundamentales del derecho, respaldados por un equipo de abogados dedicados y con visión de futuro.
          </p>
          <br/>
          <p>
            Nuestro equipo de expertos lleva más de 17 años resolviendo los desafíos legales más complejos en áreas que van desde lo civil y lo mercantil hasta lo familiar e inmobiliario. Confía en nosotros para encontrar soluciones efectivas y duraderas.
          </p>
          <br/>
          <p>
            En nuestro despacho, no solo representamos casos, sino que también defendemos valores. Descubre cómo nuestra ética inquebrantable y nuestra dedicación a la excelencia legal nos han convertido en aliados confiables y respetados en la comunidad legal.
          </p>
        </div>
      </div>
    </div>
  </section>


  <header class="px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      <div
        class="grid grid-cols-1 gap-x-20 gap-y-12 md:gap-y-16 lg:grid-cols-2 lg:items-center"
      >
        <div>
          <h2 class="mb-5 text-5xl font-bold md:mb-6 md:text-7xl lg:text-8xl">
            Cita Rápida y Fácil
                    </h2>
          <p class="md:text-md">
            Cada cliente recibe atención individualizada y soluciones adaptadas a sus necesidades.
          </p>
          <div class="mt-6 flex gap-x-4 md:mt-8">
           <button
              onclick="window.location.href = '/contacto';"
              class="btnh inline-flex items-center justify-center gap-3 whitespace-nowrap border border-border-primary px-6 py-3 text-text-primary ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-border-primary focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
            >
              Chatear  ahora
            </button>
          </div>
        </div>
        <div>
          <img
            src="/assets/serv/calendar.jpg"
            class="w-full object-cover"
            alt="Placeholder image"
          />
        </div>
      </div>
    </div>
  </header>
  


  <section class="px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      <div class="mx-auto w-full max-w-lg">
        <h2 class="mb-5 text-5xl font-bold md:mb-6 md:text-7xl lg:text-8xl">
          Tu tranquilidad, nuestra satisfacción.
        </h2>
        <div class="prose">
          <p>
            Nuestra ubicación central en el Estado de México nos permite servir a clientes locales y regionales con atención personalizada y resultados excepcionales.
          </p>
          <br/>
          <p>
            Especialistas en la redacción y revisión de contratos para garantizar la seguridad jurídica de tus transacciones. En LC Urvich Legal Consultores, prevenimos conflictos y protegemos tus inversiones.          </p>
          <br/>
          <p>
            Brindamos asesoría legal integral para el correcto funcionamiento de tu empresa. En LC Urvich Legal Consultores, te acompañamos en tu crecimiento y te protegemos ante cualquier eventualidad legal.
          </p>
        </div>
      </div>
    </div>
  </section>
  